<div class="bg-[#303134] shadow-sm">
    <div class="container mx-auto flex flex-row justify-between text-center p-4">
        <a href="/" class="navbrand font-semibold text-2xl text-white">Auth.</a>
        <div class="navlinks font-semibold text-1xl justify-between">
            
            <a href="" class="p-2 bg-red-500 rounded-lg text-white mx-1">Login</a>
            <a href="" class="p-2 border border-red-500 rounded-lg text-white mx-2">Signup</a>

        </div>

    </div>
</div>